body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: auto;
    margin: 10px;
    border: solid 0px black;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    
}

#reset-button {
    display: none;
    width: 150px;
}

#rock{
    background-color:#EFD28D;
}

#paper{
    background-color: #00AFB5;
}

#scissors{
    background-color: #ff7700 ;
}

#choice-container, #result-container, #final-score, #final-result {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 500px;
    font: italic bold 1.2em "inter", sans-serif;
    color: white;
}

#choice-container {
    background-color: #004777;
}

#result-container {
    background-color: #FFB703;
}

#final-score {
    background-color: #FB8500;
}

#final-result{
    background-color: #FB8500;
}